{
  "openapi": "3.0.2",
  "info": {
    "title": "BondMCP API",
    "version": "2.1.0",
    "description": "OpenAPI specification for the BondMCP healthcare API with MCP discovery and capability management."
  },
  "servers": [
    {
      "url": "https://api.bondmcp.com",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "HealthStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "environment": {
            "type": "string"
          },
          "services": {
            "type": "object"
          }
        }
      },
      "AskRequest": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "context": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      },
      "AskResponse": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string"
          },
          "answer": {
            "type": "string"
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ErrorEnvelope": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            },
            "required": ["code", "message"]
          }
        },
        "required": ["error"]
      },
      "MCPConfiguration": {
        "type": "object",
        "properties": {
          "service": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "version": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            },
            "required": ["name", "version"]
          },
          "auth": {
            "type": "object",
            "properties": {
              "supported_methods": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": ["api_key", "bearer"]
                }
              },
              "required": {
                "type": "boolean"
              }
            },
            "required": ["supported_methods", "required"]
          },
          "capabilities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MCPCapability"
            }
          },
          "rate_limits": {
            "type": "object",
            "properties": {
              "requests_per_minute": {
                "type": "integer"
              },
              "requests_per_hour": {
                "type": "integer"
              },
              "requests_per_day": {
                "type": "integer"
              }
            }
          },
          "contact": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "support_url": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["service", "auth", "capabilities", "updated_at"]
      },
      "MCPCapability": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "method": {
            "type": "string",
            "enum": ["GET", "POST", "PUT", "PATCH", "DELETE"]
          },
          "path": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "auth_required": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "input_example": {
            "type": "object"
          },
          "output_example": {
            "type": "object"
          },
          "rate_limit_tier": {
            "type": "string",
            "enum": ["basic", "standard", "premium"]
          },
          "deprecated": {
            "type": "boolean"
          }
        },
        "required": ["id", "method", "path", "name", "auth_required"]
      },
      "MCPManifest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string"
          },
          "capabilities_sha256": {
            "type": "string"
          },
          "generated_at": {
            "type": "string",
            "format": "date-time"
          },
          "configuration_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": ["version", "capabilities_sha256", "generated_at", "configuration_url"]
      }
    }
  },
  "paths": {
    "/api/v1/health": {
      "get": {
        "summary": "health",
        "responses": {
          "200": {
            "description": "health response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ask": {
      "post": {
        "summary": "ask",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ask response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AskResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/orchestrator/multi-llm": {
      "post": {
        "summary": "multi-llm",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "multi-llm response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/labs/interpret": {
      "post": {
        "summary": "interpret",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "interpret response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/health-data/analyze": {
      "post": {
        "summary": "analyze",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "analyze response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/supplement/recommend": {
      "post": {
        "summary": "recommend",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "recommend response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/import/oura": {
      "post": {
        "summary": "oura",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "oura response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/import/labs/csv": {
      "post": {
        "summary": "csv",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "csv response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/keys": {
      "get": {
        "summary": "keys",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "keys response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "keys",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "keys response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/keys/{key_id}": {
      "delete": {
        "summary": "{key_id}",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{key_id} response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/insights/generate": {
      "post": {
        "summary": "generate",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "generate response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/insights/history/{user_id}": {
      "get": {
        "summary": "{user_id}",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{user_id} response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/insights/{insight_id}": {
      "get": {
        "summary": "{insight_id}",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "insight_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{insight_id} response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/mcp-configuration": {
      "get": {
        "summary": "Get MCP Configuration",
        "description": "Returns the MCP configuration including service information, supported authentication methods, and available capabilities",
        "responses": {
          "200": {
            "description": "MCP configuration response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MCPConfiguration"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/mcp-manifest.json": {
      "get": {
        "summary": "Get MCP Manifest",
        "description": "Returns the MCP manifest with version information and capability hash for verification",
        "responses": {
          "200": {
            "description": "MCP manifest response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MCPManifest"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    }
  }
}